---
import {sanityClient} from 'sanity:client'
import Layout from '../../layouts/Layout.astro'
import PortableText from '../../components/PortableText.astro'
import SanityImage from '../../components/SanityImage.astro'

export async function getStaticPaths() {
  const posts = await sanityClient.fetch(
    `*[_type == "post"]`,
  )
  return posts.map((post: any) => ({
    params: {slug: post.slug.current},
    props: {post},
  }))
}

const {post} = Astro.props
---

<Layout title={post.title}>
  <article>
    <h1>{post.title}</h1>
    <SanityImage node={post.coverImage} width="800" />
    <PortableText value={post.excerpt} />
    <PortableText value={post.content} />
  </article>
</Layout>
